#appbar{
    width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
    height: 68px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 4px 0px rgb(0 0 255 / 20%);
}

#appbar img{
    width: 100%;
}

#appbar-icon{
    width: 25px !important;
    margin-right: 15px;
}

#appbar-space{
    width: 170px;
}

input:focus-visible {
    outline: none;
}

#appbar-search {
    width: 40rem;
    height: 2.2rem;
    margin-left: 2rem;
    border: none;
    border-radius: 6px;
    padding: 0.1rem 0rem 0rem 2.3rem;
    font-size: 14px;
    background: url('../public/search-icon.svg') no-repeat rgba(0,0,0,0.05);
    background-size: 1.2rem;
    background-position: 0.7rem;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}



  #appbar-logo{
    width: 130px !important;
  }
  #appbar-img{
    margin: 0.4rem 3rem 0rem 3.5rem;
  }