@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

$Raleway-Font: 'Raleway', sans-serif;
$Primary: #BB2226;
$Secondary: #19386F;
$Button-Primary: #161A4D;
$Footer-Background: #282828;
$Header: #111111;
$Sub-Header: #666666;
$Red: #bb2226;
$Light-Red: rgba(187, 34, 38, 0.1);
$Background: #f5f5f5;

*{
    font-family: 'Poppins', sans-serif;
}

#root-1{
    width: 100%;
}

#root{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.upper-div{
    background-color: $Background;
    margin-top: 68px;
}

.active-red{
    background-color: $Red !important;
    color: white !important;
}
.DownArrow1{
    width: 15px !important;
    margin-left: 16px;
}
.DownArrow2{
    width: 15px !important;
    margin-right: 25px;
}
.RightArrow{
    width: 10px !important;
    margin-left: 6px;
    transform: rotate(-90deg);
    margin-top: 0.1rem;
}
.dot {
    height: 35px;
    width: 35px;
    background-color: #ffd1d1;
    border-radius: 50%;
    display: inline-block;
    margin-right: 14px;
    margin-left: 10px;
  }

  .small-dot1 {
    width: 10px;
  height: 10px;
  display: inline-block;

  border-radius: 6px;
  background-color: #21d59b;
  }
  .small-dot2 {
    width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 40px;

  border-radius: 6px;
  background-color: #bb2226;
  }
 
  .hr{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-top: 26px;
    margin-bottom: 20px;
  }
  .square1{
    width: 12px;
    height: 12px;
    margin: 4px 20px 4px 0;
    border-radius: 2px;
    background-color: #0058ff;
  }
  .square2{
    width: 12px;
    height: 12px;
    margin: 4px 20px 4px 0;
    border-radius: 2px;
    background-color: #21d59b
    ;
  }
  .square3{
    width: 12px;
    height: 12px;
    margin: 4px 20px 4px 0;
    border-radius: 2px;
    background-color: #ffc700
    ;
  }
  .square4{
    width: 12px;
    height: 12px;
    margin: 4px 20px 4px 0;
    border-radius: 2px;
    background-color: #f99600
    ;
  }
  .square5{
    width: 12px;
    height: 12px;
    margin: 4px 20px 4px 0;
    border-radius: 2px;
    background-color: #f520ea;
  }
  a{
    text-decoration: none;
  }