@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#sidebar{
    height: 100vh;
    width: 19%;
    border-right: solid 1px rgb(161, 154, 154, 0.6);
}
.sidebar-mid-option{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 10px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
}
.sidebar-mid-option a{
    text-decoration: none;
    padding: 10px 0 10px 60px;
    width: 100%;
}
.sidebar-mid-option a:active{
    color: black !important;
}
#sidebar-top{
    display: flex;
    align-items: center;
    gap: 75px;
    margin: 1.5rem 1rem 1rem 1.2rem;
}
#sidebar-mid {
    margin-top: 2.5rem;
}

header{
    background-color: red;
    height: 20px;
}

.is-active{
    background-color: #EAE6FB;
    border-radius: 0 30px 30px 0;
}
.sidebar-icon {
    position: absolute;
    left: 18px;
}
.is-active-icon{
    position: absolute;
    left: 125px;
    display: block;
}
.sidebar-last-icon{
    transform: rotate(270deg);
    margin-bottom: 0.1rem;
    margin-left: 1rem;
    width: 15px;
}