body {
    background-color: #ededed;
}

#event-title {
    margin-top: 30px;
    color: #003a8f;
    font-weight: bold;
    margin: 36px 0 36px 100px;
}

.event-tile {
    height: 200px;
    width: 200px;
    background-color: #fefefe;
    margin: 2px 28px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 110px;
}

.event-title-wrapper {
    margin: 0 0 0 73px;
}

.event-org1{
    display: flex;
    align-items: center;
}

.event-org2{
    display: flex;
    align-items: center;
}

.event-tile > div > h5 {
    color: #dc3734;
    font-weight: bold;
}

div > span {
    font-size: small;
}

.long-tile {
    height: 200px;
    width: 640px;
    background-color: #fefefe;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 110px;
    padding-right: 305px;
    
    h5{
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }
    span{
        color: #fff;
        font-weight: 100;
    }
}

.long-tile > div {
    color: #fefefe;
    padding: 10px;
    background-color: #dc3734;
    border-radius: 10px;
}

#codejam {
    background-image: url('../public/codejam.png');
    background-repeat: no-repeat;
    background-size: 640px 200px;
}